---

---

<h1 class="heading"> Empower Yourself with Tax Bolster </h1>
<h4 class="subheading">Comprehensive GST Filing, Compliance, and Advisory Services to Keep Your Business on Track</h4>
<section>
    <div
        class="relative items-center w-full mx-auto md:px-12 lg:px-16 max-w-7xl"
    >
        <div>
            <div
                class="relative p-10 space-y-12 overflow-hidden lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-x-8 rounded-xl"
            >
                <div class="relative flex flex-col p-8 bg-white">
                    <div class="flex-1">
                        <h3 class="text-xl font-semibold text-neutral-600">
                            Basic Course For TaxExpert
                        </h3>
                        <p class="flex items-baseline mt-4 text-neutral-600">
                            <span class="text-5xl font-extrabold tracking-tight"
                                >₹9,999</span
                            >
                            <span class="ml-1 text-xl font-semibold"
                                >/p.a</span
                            >
                        </p>
                        <p class="mt-6 text-gray-500">
                            The essentials to provide your best work for
                            clients.
                        </p>

                        <!-- Feature list -->
                        <ul role="list" class="pt-6 mt-6 space-y-6 border-t">
                            <span class="text-lg font-semibold text-neutral-600"
                                >What's included?</span
                            >

                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-blue-600 rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-white"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-neutral-600"
                                    >GST</span
                                >
                            </li>

                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-blue-600 rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-white"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-neutral-600"
                                    >Income Tax</span
                                >
                            </li>

                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-blue-600 rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-white"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-neutral-600"
                                    >Accounting</span
                                >
                            </li>

                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-blue-600 rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-white"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-neutral-600"
                                    >Tally</span
                                >
                            </li>

                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-blue-600 rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-white"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-neutral-600"
                                    >Excel</span
                                >
                            </li>

                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-blue-600 rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-white"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-neutral-600"
                                    >Microsoft Office</span
                                >
                            </li>
                        </ul>
                    </div>
                    <div class="mt-6 rounded-lg">
                        <a
                            href="https://wa.me/8805359090"
                            type="highlight"
                            class="w-full items-center block px-10 py-3.5 text-base font-medium text-center text-blue-600 transition duration-500 ease-in-out transform border-2 border-white shadow-md rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 bg-white"
                        >
                            Get Started
                        </a>
                    </div>
                </div>
                <div class="relative flex flex-col p-8 bg-white">
                    <div class="flex-1">
                        <h3 class="text-xl font-semibold text-neutral-600">
                            Advance Course For TaxExpert
                        </h3>
                        <p class="flex items-baseline mt-4 text-neutral-600">
                            <span class="text-5xl font-extrabold tracking-tight"
                                >₹24,999</span
                            >
                            <span class="ml-1 text-xl font-semibold"
                                >/p.a</span
                            >
                        </p>
                        <p class="mt-6 text-gray-500">
                            Dedicated support and infrastructure for your
                            company.
                        </p>

                        <!-- Feature list -->
                        <ul role="list" class="pt-6 mt-6 space-y-6 border-t">
                            <span class="text-lg font-semibold text-neutral-600"
                                >What's included?</span
                            >

                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-blue-600 rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-white"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-neutral-600"
                                    >GST Entries & Portal</span
                                >
                            </li>

                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-blue-600 rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-white"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-neutral-600"
                                    >GST Forms</span
                                >
                            </li>

                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-blue-600 rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-white"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-neutral-600"
                                    >TDS & Income Tax</span
                                >
                            </li>

                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-blue-600 rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-white"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-neutral-600"
                                    >Professional Return
                                </span>
                            </li>

                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-blue-600 rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-white"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-neutral-600"
                                    >Income Tax Return</span
                                >
                            </li>

                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-blue-600 rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-white"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-neutral-600"
                                    >Advance Accounting</span
                                >
                            </li>
                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-blue-600 rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-white"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-neutral-600"
                                    >Advance Tally Software</span
                                >
                            </li>
                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-blue-600 rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-white"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-neutral-600"
                                    >Advance Excel</span
                                >
                            </li>
                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-blue-600 rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-white"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-neutral-600"
                                    >Microsoft Office</span
                                >
                            </li>
                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-blue-600 rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-white"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-neutral-600"
                                    >Shop Act & Compliances</span
                                >
                            </li>
                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-blue-600 rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-white"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-neutral-600"
                                    >Tax Department Replies</span
                                >
                            </li>
                        </ul>
                    </div>

                    <div class="mt-6 rounded-lg">
                        <a
                            href="https://wa.me/8805359090"
                            type="highlight"
                            class="w-full items-center block px-10 py-3.5 text-base font-medium text-center text-blue-600 transition duration-500 ease-in-out transform border-2 border-white shadow-md rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 bg-white"
                        >
                            Get Started
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<style>
	.heading {
        font-size:xx-large;
        color: rgb(82 82 82 );
        font-weight: bold;
        text-align: center;	}

        .subheading {
        font-size:small;
        color: rgb(82 82 82 );
        font-weight: bold;
        margin-bottom: 40px;
        text-align: center;	}
</style>
