---

---

<div class="mt-20">
<h1 class="heading"> Individual Tax Returns Made Easy </h1> 
<h4 class="subheading">Accurate, Efficient, and Hassle-Free ITR Filing Services for Individuals and Businesses</h4>
</div>
<section>
    <div
        class="relative items-center w-full mx-auto md:px-12 lg:px-16 max-w-7xl " 
    >
        <div>
            <div
                class="relative p-10 space-y-12 overflow-hidden lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-x-8 rounded-xl"
            >
                <div class="relative flex flex-col p-8 bg-white">
                    <div class="flex-1">
                        <h3 class="text-xl font-semibold text-neutral-600">
                            SALARY & HP PLAN
                        </h3>
                        <p class="flex items-baseline mt-4 text-neutral-600">
                            <span class="text-5xl font-extrabold tracking-tight"
                                >₹799</span
                            >
                            <span class="ml-1 text-xl font-semibold"
                                >/p.a.</span
                            >
                        </p>
                        <p class="mt-6 text-gray-500">
                            ITR 1
                        </p>

                        <!-- Feature list -->
                        <ul role="list" class="pt-6 mt-6 space-y-6 border-t">
                            <span class="text-lg font-semibold text-neutral-600"
                                >What's included?</span
                            >

                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-blue-600 rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-white"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-neutral-600"
                                    >Salary Income Below ₹50 Lakh</span
                                >
                            </li>

                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-blue-600 rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-white"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-neutral-600"
                                    >Single Employer</span
                                >
                            </li>

                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-blue-600 rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-white"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-neutral-600"
                                    >Single House Property</span
                                >
                            </li>

                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-blue-600 rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-white"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-neutral-600"
                                    >Income from Other Sources</span
                                >
                            </li>
                        </ul>
                    </div>
                    <div class="mt-6 rounded-lg">
                        <a
                           href="https://wa.me/8805359090"
                            type="highlight"
                            class="w-full items-center block px-10 py-3.5 text-base font-medium text-center text-blue-600 transition duration-500 ease-in-out transform border-2 border-white shadow-md rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 bg-white"
                        >
                            Get Started
                        </a>
                    </div>
                </div>
                <div class="relative flex flex-col p-8 bg-blue-600 rounded-2xl">
                    <div class="relative flex-1">
                        <h3 class="text-xl font-semibold text-white">
                            SALARY & CAPITAL GAIN PLAN
                        </h3>

                        <p class="flex items-baseline mt-4 text-white">
                            <span class="text-5xl font-extrabold tracking-tight"
                                >₹2,199</span
                            >
                            <span class="ml-1 text-xl font-semibold"
                                >/p.a.</span
                            >
                        </p>
                        <p class="mt-6 text-white text-solitud">
                            ITR 2
                        </p>

                        <!-- Feature list -->
                        <ul role="list" class="pt-6 mt-6 space-y-6 border-t">
                            <span class="text-lg font-semibold text-white"
                                >What's included?</span
                            >

                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-white rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-neutral-600"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-white"
                                    >Salary & Multiple Employer</span
                                >
                            </li>

                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-white rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-neutral-600"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-white"
                                    >Single & Multiple House Property</span
                                >
                            </li>

                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-white rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-neutral-600"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-white"
                                    >Multiple Capital Gain Income
                                </span>
                            </li>

                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-white rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-neutral-600"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-white"
                                    >Income From Other Source</span
                                >
                            </li>
                        </ul>
                    </div>
                    <div class="z-50 mt-6 rounded-lg">
                        <a
                            href="https://wa.me/8805359090"
                            type="highlight"
                            class="w-full items-center block px-10 py-3.5 text-base font-medium text-center text-blue-600 transition duration-500 ease-in-out transform border-2 border-white shadow-md rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 bg-white"
                        >
                            Get started
                        </a>
                    </div>
                </div>
                <div class="relative flex flex-col p-8 bg-white">
                    <div class="flex-1">
                        <h3 class="text-xl font-semibold text-neutral-600">
                            BUSINESS & PROFESSIONAL PLAN
                        </h3>
                        <p class="flex items-baseline mt-4 text-neutral-600">
                            <span class="text-5xl font-extrabold tracking-tight"
                                >₹1,500</span
                            >
                            <span class="ml-1 text-xl font-semibold"
                                >/p.a.</span
                            >
                        </p>
                        <p class="mt-6 text-gray-500">
                            ITR 4
                        </p>

                        <!-- Feature list -->
                        <ul role="list" class="pt-6 mt-6 space-y-6 border-t">
                            <span class="text-lg font-semibold text-neutral-600"
                                >What's included?</span
                            >

                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-blue-600 rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-white"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-neutral-600"
                                    >Single & Multiple Employer</span
                                >
                            </li>

                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-blue-600 rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-white"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-neutral-600"
                                    >Single & Multiple House Property</span
                                >
                            </li>

                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-blue-600 rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-white"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-neutral-600"
                                    >Business & Professional Income With B/S P/L</span
                                >
                            </li>

                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-blue-600 rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-white"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-neutral-600"
                                    >Income From Other Source
                                </span>
                            </li>

                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-blue-600 rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-white"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-neutral-600"
                                    >Agriculture Income</span
                                >
                            </li>
                        </ul>
                    </div>

                    <div class="mt-6 rounded-lg">
                        <a
                            href="https://wa.me/8805359090"
                            type="highlight"
                            class="w-full items-center block px-10 py-3.5 text-base font-medium text-center text-blue-600 transition duration-500 ease-in-out transform border-2 border-white shadow-md rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 bg-white"
                        >
                            Get Started
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div
        class="relative items-center w-full mx-auto md:px-12 lg:px-16 max-w-7xl"
    >
        <div>
            <div
                class="relative p-10 space-y-12 overflow-hidden lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-x-8 rounded-xl"
            >
                <div class="relative flex flex-col p-8 bg-white">
                    <div class="flex-1">
                        <h3 class="text-xl font-semibold text-neutral-600">
                        CAPITAL GAIN PLAN
                        </h3>
                        <p class="flex items-baseline mt-4 text-neutral-600">
                            <span class="text-5xl font-extrabold tracking-tight"
                                >₹2,400</span
                            >
                            <span class="ml-1 text-xl font-semibold"
                                >/p.a.</span
                            >
                        </p>
                        <p class="mt-6 text-gray-500">
                            ITR 3
                        </p>

                        <!-- Feature list -->
                        <ul role="list" class="pt-6 mt-6 space-y-6 border-t">
                            <span class="text-lg font-semibold text-neutral-600"
                                >What's included?</span
                            >

                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-blue-600 rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-white"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-neutral-600"
                                    >Salary & Multiple Employer</span
                                >
                            </li>

                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-blue-600 rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-white"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-neutral-600"
                                    >Single & Multiple House Property</span
                                >
                            </li>

                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-blue-600 rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-white"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-neutral-600"
                                    >Business & Professional Income With B/S P/L</span
                                >
                            </li>

                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-blue-600 rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-white"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-neutral-600"
                                    >Income From Other Source</span
                                >
                            </li>
                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-blue-600 rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-white"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-neutral-600"
                                    >Agriculture Income</span
                                >
                            </li>
                        </ul>
                    </div>
                    <div class="mt-6 rounded-lg">
                        <a
                            href="https://wa.me/8805359090"
                            type="highlight"
                            class="w-full items-center block px-10 py-3.5 text-base font-medium text-center text-blue-600 transition duration-500 ease-in-out transform border-2 border-white shadow-md rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 bg-white"
                        >
                            Get Started
                        </a>
                    </div>
                </div>
                <div class="relative flex flex-col p-8 bg-blue-600 rounded-2xl">
                    <div class="relative flex-1">
                        <h3 class="text-xl font-semibold text-white">
                        FUTURE & OPTIONS PLAN
                        </h3>

                        <p class="flex items-baseline mt-4 text-white">
                            <span class="text-5xl font-extrabold tracking-tight"
                                >₹4,500</span
                            >
                            <span class="ml-1 text-xl font-semibold"
                                >/p.a.</span
                            >
                        </p>
                        <p class="mt-6 text-white text-solitud">
                            ITR 3
                        </p>

                        <!-- Feature list -->
                        <ul role="list" class="pt-6 mt-6 space-y-6 border-t">
                            <span class="text-lg font-semibold text-white"
                                >What's included?</span
                            >

                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-white rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-neutral-600"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-white"
                                    >F&O Income Loss</span
                                >
                            </li>

                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-white rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-neutral-600"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-white"
                                    >Speculative Income</span
                                >
                            </li>

                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-white rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-neutral-600"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-white"
                                    >Single & Multiple Employers
                                </span>
                            </li>

                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-white rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-neutral-600"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-white"
                                    >Income from Other Sources</span
                                >
                            </li>

                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-white rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-neutral-600"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-white">Business & Professional Income With B/S P/L</span>
                            </li>
                            <li class="flex">
                                <div
                                    class="inline-flex items-center w-6 h-6 bg-white rounded-xl"
                                >
                                    <svg
                                        class="flex-shrink-0 w-4 h-4 mx-auto text-neutral-600"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span class="ml-3 text-white">Agriculture Income</span>
                            </li>
                        </ul>
                    </div>
                    <div class="z-50 mt-6 rounded-lg">
                        <a
                            href="https://wa.me/8805359090"
                            type="highlight"
                            class="w-full items-center block px-10 py-3.5 text-base font-medium text-center text-blue-600 transition duration-500 ease-in-out transform border-2 border-white shadow-md rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 bg-white"
                        >
                            Get started
                        </a>
                    </div>
                </div>
               
        </div>
    </div>
</section>


<style>
	.heading {
        font-size:xx-large;
        color: rgb(82 82 82 );
        font-weight: bold;
        text-align: center;	}

        .subheading {
        font-size:small;
        color: rgb(82 82 82 );
        font-weight: bold;
        margin-bottom: 40px;
        text-align: center;	}
</style>