---

---

<>
    <nav class="container">
        <div>
            <h1 class="logo">Tax<br />Bolster</h1>
        </div>
        <ul class="navbarnav">
            <li class="nav-item"><a> Home </a></li>
            <li class="nav-item"><a> Services </a></li>
            <li class="nav-item"><a> Project </a></li>
            <li class="nav-item"><a> Work </a></li>
            <li class="nav-item"><a> About </a></li>
        </ul>
    </nav>
</>

<style>
    nav {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
    }

    nav ul {
        list-style: none;
        display: flex;
        margin-left: 30px;
    }

    nav ul li a {
        color: rgb(0, 0, 0);
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
        font-weight: bold;
        margin: 0px 15px;
        text-decoration: none;
        transition: 0.5%;
    }

    nav ul li a:hover {
        color: #EB5757;
        transition: 0.5s;
    }
    .logo {
        color: #050000;
        font-family: Inter;
        font-size: 19.17px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 9.585px;
        text-transform: uppercase;
    }
    .logo:hover {
        color: #EB5757;
        transition: 0.5s;
    }
</style>
