---

---

<section class="py-10 bg-white sm:py-16 lg:py-24">
    <h1 class="heading"> Thousands Love Taxbolster See Why! </h1>
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 gap-6 lg:gap-10 sm:grid-cols-2 md:grid-cols-3">
            <div class="flex flex-col bg-white border border-gray-200 rounded-md">
                <div class="flex flex-col justify-between flex-1 p-8">
                    <div class="flex-1">
                        <blockquote>
                            <p class="text-lg text-gray-800">“End-to-end experience is so cool, he completed ITR filing with very minimalistic involvement by my side.”</p>
                        </blockquote>
                    </div>

                    <div class="mt-8">
                        <div class="w-full h-0 mb-8 border-t-2 border-gray-200 border-dotted"></div>
                        <div class="flex items-center">
                            <img class="flex-shrink-0 object-cover w-10 h-10 rounded-full" src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihYA0GFyNYyxiDyCoMBvEWCwhA_de46Yv2CZU7mUDFql8OZAhs5dgv-WylFlpJEgXykq-aW95OO6lvCzACYsNT4Qwj-eGQ5zFQ=w1920-h911" alt="" />
                            <div class="ml-3">
                                <p class="text-base font-semibold text-gray-800 truncate">Saurabh Gawade</p>
                                <p class="text-base text-gray-500 truncate">President of Sales</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col bg-white border border-gray-200 rounded-md">
                <div class="flex flex-col justify-between flex-1 p-8">
                    <div class="flex-1">
                        <blockquote>
                            <p class="text-lg text-gray-800">“Mr. Chaitanya helped me file my taxes so simply and without any headache. Awesome and quick service at so much reasonable rates. Thanks a lot. You're a lifesaver. Kudos to you and your team.”</p>
                        </blockquote>
                    </div>

                    <div class="mt-8">
                        <div class="w-full h-0 mb-8 border-t-2 border-gray-200 border-dotted"></div>
                        <div class="flex items-center">
                            <img class="flex-shrink-0 object-cover w-10 h-10 rounded-full" src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihayaZZh8fY32-80pXKRw5XaBjvfwsnuQFy6PYeMtnKhbQ-8LiPZl3O-LaI-2mtg1f4jQTJ2WKgO6n9q4355ajfViCQ-9yhccvE=w1920-h911" alt="" />
                            <div class="min-w-0 ml-3">
                                <p class="text-base font-semibold text-gray-800 truncate">Harsimran Singh </p>
                                <p class="text-base text-gray-500 truncate">Marketing Coordinator</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col bg-white border border-gray-200 rounded-md">
                <div class="flex flex-col justify-between flex-1 p-8">
                    <div class="flex-1">
                        <blockquote>
                            <p class="text-lg text-gray-800">“मी माझ्या मुलाचं, मुलीचं आणि माझं स्वतःचं रिटर्न मी चैतन्य सरांकडून गेले 3 वर्ष झालं करत आहे. खुप हुशार आणि टॅक्स च्या कमा मध्ये ते तज्ञांच आहेत. माझ्या दुकानंच GST आणि अकाऊंट सुद्धा तेच पाहत आहेत अशी आम्हाला उत्तम Service दिल्या बद्दल धनयवाद.”</p>
                        </blockquote>
                    </div>

                    <div class="mt-8">
                        <div class="w-full h-0 mb-8 border-t-2 border-gray-200 border-dotted"></div>
                        <div class="flex items-center">
                            <img class="flex-shrink-0 object-cover w-10 h-10 rounded-full" src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihZfWwRE6HfDCX3EZtkLxRLro5y1PF_sJ0sAhUQUSaFl1p0ySFC65QOfaIjcjN6bxQDS9s2Fc1lk8L1nUxEtLO0nCWt8BSW37SI=w1920-h911" alt="" />
                            <div class="min-w-0 ml-3">
                                <p class="text-base font-semibold text-gray-800 truncate">Shridhar Shelar</p>
                                <p class="text-base text-gray-500 truncate">Shopkeeper</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col bg-white border border-gray-200 rounded-md">
                <div class="flex flex-col justify-between flex-1 p-8">
                    <div class="flex-1">
                        <blockquote>
                            <p class="text-lg text-gray-800">“One point solution for IT return filing. Chaitanya is very articulate and understanding throughout the process.”</p>
                        </blockquote>
                    </div>

                    <div class="mt-8">
                        <div class="w-full h-0 mb-8 border-t-2 border-gray-200 border-dotted"></div>
                        <div class="flex items-center">
                            <img class="flex-shrink-0 object-cover w-10 h-10 rounded-full" src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihaAtxfEUQuZP4izCrf6FvFFAxAFe5kfYLBEObCopbaG_8UGEO-aA5wwMpnJx1DykfJOVXtnU5l26fqSX21AzAh5JjUHi0VesSM=w1920-h911" alt="" />
                            <div class="min-w-0 ml-3">
                                <p class="text-base font-semibold text-gray-800 truncate">Pranita Dhagale</p>
                                <p class="text-base text-gray-500 truncate">Web Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col bg-white border border-gray-200 rounded-md">
                <div class="flex flex-col justify-between flex-1 p-8">
                    <div class="flex-1">
                        <blockquote>
                            <p class="text-lg text-gray-800">“Excellent !! highly responsive and hassle free service . One just need to share their documents along with him and forget and everything else will be taken care off. Special thanks to Chaitanya. He is a very polite and helpful.”</p>
                        </blockquote>
                    </div>

                    <div class="mt-8">
                        <div class="w-full h-0 mb-8 border-t-2 border-gray-200 border-dotted"></div>
                        <div class="flex items-center">
                            <img class="flex-shrink-0 object-cover w-10 h-10 rounded-full" src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihbEqBWYHMWQixLXHRIkgGVQ5R0RNUV9BJQQ73LuqgTpoeiyWE-GlAmMdk8uHSI0kSYGODQVM-U-uYF6vs24Z_RWEPdafNva4ZE=w1920-h911" alt="" />
                            <div class="min-w-0 ml-3">
                                <p class="text-base font-semibold text-gray-800 truncate">Sonali Tatkare</p>
                                <p class="text-base text-gray-500 truncate">Medical Assistant</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col bg-white border border-gray-200 rounded-md">
                <div class="flex flex-col justify-between flex-1 p-8">
                    <div class="flex-1">
                        <blockquote>
                            <p class="text-lg text-gray-800">“Have been Filing IT return for my self and my wife for last 3 consecutive years. Chaitanya was dedicated to help you file tax form the comfort of your home.”</p>
                        </blockquote>
                    </div>

                    <div class="mt-8">
                        <div class="w-full h-0 mb-8 border-t-2 border-gray-200 border-dotted"></div>
                        <div class="flex items-center">
                            <img class="flex-shrink-0 object-cover w-10 h-10 rounded-full" src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihYScHXV7mZkovoncdn8cRmxEMiANCnXUuIHRryIf9Exfo_2Suz0KD0dtiK77x0jg-Q1rdtZOPhjH5fB0aTqCNksjEiJFF6qRA=w1920-h911" alt="" />
                            <div class="min-w-0 ml-3">
                                <p class="text-base font-semibold text-gray-800 truncate">Shekhar Lole</p>
                                <p class="text-base text-gray-500 truncate">Nursing Assistant</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<style>
    .heading {
        font-size:xx-large;
        color: black;
        font-weight: bold;
        margin-bottom: 40px;
        text-align: center;
}
</style>