---


---
<a href="https://wa.me/8805359090" class="whatsapp-float" target="_blank" rel="noopener noreferrer">
    <img class="" src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihZKnhJ3k6zHGtq9W5GK9Elm8ENSbTQdexNtv2ozANJf8w90bY0l8PgBRfujD5CJWsAZBfse-OBBV2R_N0jxIJTKiViNRyhM0T0=w1920-h911" alt="WhatsApp">
  </a>


<style>
    .whatsapp-float {
      position: fixed;
      width: 60px;
      height: 60px;
      bottom: 40px;
      right: 40px;
      background-color: #25D366;
      color: #FFF;
      border-radius: 50px;
      text-align: center;
      font-size: 30px;
      box-shadow: 2px 2px 3px #999;
      z-index: 1000;
    }
  
    .whatsapp-float img {
      width: 100%;
      height: 100%;
      padding: 0px;
      margin-top: 2px;
    }
  </style>
  

  